{% extends 'base_boot.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'profile/img.css' %}" type="text/css">


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="media/jumbotron/mountain.jpg" alt="Mountain" style="width:100%;height:?;">
        <div class="carousel-caption">
        <p style="font-size:80px;">Welcome </p>
        <p style="font-size:30px;">Phostudto: Your photo sharing website</p>
        </div>
    </div>
    <div class="item">
        <img src="media/jumbotron/camera.jpg" alt="Camera" style="width:100%;height:?;">
        <div class="carousel-caption">
        <p style="font-size:80px;">Welcome </p>
        <p style="font-size:30px;">Phostudto: Your photo sharing website</p>
        </div>
    </div>
    <div class="item">
        <img src="media/jumbotron/city.jpg" alt="City" style="width:100%;height:?;">
        <div class="carousel-caption">
        <p style="font-size:80px;">Welcome </p>
        <p style="font-size:30px;">Phostudto: Your photo sharing website</p>
        </div>
    </div>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
</div>

<div class="container">
    <h3>latest pictures</h3>
<div class="my-content"id="masonry">

    {% for pic, is_liked, is_favored, num, label0, label1, label2 in pics_latest %}
        {%if num == 0%}
        <div class="row" >
            <div class="col-md-4 box">
                <div class="thumbnail">
                    <img src="/media/{{pic.image}}" alt="/media/{{pic.image}}" class="content-img">
                    <div class="caption"  style="text-align:center;">
                        <p>
                            <div class="labels-in-caption">
                                {%if label0 != ''%}
                                    <span class="label label-primary img-labels">{{label0}}</span>
                                {%endif%}                                
                                {%if label1 != ''%}
                                    <span class="label label-primary img-labels">{{label1}}</span>
                                {%endif%}                               
                                 {%if label2 != ''%}
                                    <span class="label label-primary img-labels">{{label2}}</span>
                                {%endif%}
                            </div>
                        </p>
                        <div class="btn-group">
                            <button type="button" id = "{{pic.id}}" class="btn btn-default" name ="like-button">
                                {%if is_liked == 1%}
                                    <span class="glyphicon glyphicon-heart" style="color:hotpink" aria-hidden="true">&nbsp;{{pic.likes}}</span>
                                {%else%}
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"> {{pic.likes}}</span>
                                {%endif%}
                            </button>
                            <button type="button" class="btn btn-default" name="favor-button" id = "{{pic.id}}">
                                {%if is_favored == 1%}
                                    <span class='glyphicon glyphicon-ok' style='color:blue' aria-hidden='true'>&nbsp;favored</span>
                                {%else%}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;favor</span>
                                {%endif%}
                            </button>
                        </div>   
                    </div>
                </div>
            </div>
        {%else%}
            {%if num == 1%}
            <div class="col-md-4 box">
                <div class="thumbnail">
                    <img src="/media/{{pic.image}}" alt="/media/{{pic.image}}" class="content-img">
                    <div class="caption"  style="text-align:center;">
                        <p>
                            <div class="labels-in-caption">
                                {%if label0 != ''%}
                                    <span class="label label-primary img-labels">{{label0}}</span>
                                {%endif%}                                
                                {%if label1 != ''%}
                                    <span class="label label-primary img-labels">{{label1}}</span>
                                {%endif%}                               
                                 {%if label2 != ''%}
                                    <span class="label label-primary img-labels">{{label2}}</span>
                                {%endif%}
                            </div>
                        </p>
                        <div class="btn-group">
                            <button type="button" id = "{{pic.id}}" class="btn btn-default" name ="like-button">
                                {%if is_liked == 1%}
                                    <span class="glyphicon glyphicon-heart" style="color:hotpink" aria-hidden="true">&nbsp;{{pic.likes}}</span>
                                {%else%}
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"> {{pic.likes}}</span>
                                {%endif%}
                            </button>
                            <button type="button" class="btn btn-default" name="favor-button" id = "{{pic.id}}">
                                {%if is_favored == 1%}
                                    <span class='glyphicon glyphicon-ok' style='color:blue' aria-hidden='true'>&nbsp;favored</span>
                                {%else%}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;favor</span>
                                {%endif%}
                            </button>
                        </div>   
                    </div>
                </div>
            </div>
            {%else%}
            <div class="col-md-4 box">
                <div class="thumbnail">
                    <img src="/media/{{pic.image}}" alt="/media/{{pic.image}}" class="content-img">
                    <div class="caption"  style="text-align:center;">
                        <p>
                            <div class="labels-in-caption">
                                {%if label0 != ''%}
                                    <span class="label label-primary img-labels">{{label0}}</span>
                                {%endif%}                                
                                {%if label1 != ''%}
                                    <span class="label label-primary img-labels">{{label1}}</span>
                                {%endif%}                               
                                 {%if label2 != ''%}
                                    <span class="label label-primary img-labels">{{label2}}</span>
                                {%endif%}
                            </div>
                        </p>
                        <div class="btn-group">
                            <button type="button" id = "{{pic.id}}" class="btn btn-default" name ="like-button">
                                {%if is_liked == 1%}
                                    <span class="glyphicon glyphicon-heart" style="color:hotpink" aria-hidden="true">&nbsp;{{pic.likes}}</span>
                                {%else%}
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"> {{pic.likes}}</span>
                                {%endif%}
                            </button>
                            <button type="button" class="btn btn-default" name="favor-button" id = "{{pic.id}}">
                                {%if is_favored == 1%}
                                    <span class='glyphicon glyphicon-ok' style='color:blue' aria-hidden='true'>&nbsp;favored</span>
                                {%else%}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;favor</span>
                                {%endif%}
                            </button>
                        </div>   
                    </div>
                </div>
            </div>
            </div>
            {%endif%}
        {%endif%}
    {% endfor %}
</div>
</div>
<div class = "container">
    <h3> mostliked</h3>
    <div class="my-content"id="masonry2">
    {% for pic, is_liked, is_favored, num, label0, label1, label2 in pics_mostliked %}
        {%if num == 0%}
        <div class="row" >
            <div class="col-md-4 box">
                <div class="thumbnail">
                    <img src="/media/{{pic.image}}" alt="/media/{{pic.image}}" class="content-img">
                    <div class="caption"  style="text-align:center;">
                        <p>
                            <div class="labels-in-caption">
                                {%if label0 != ''%}
                                    <span class="label label-primary img-labels">{{label0}}</span>
                                {%endif%}                                
                                {%if label1 != ''%}
                                    <span class="label label-primary img-labels">{{label1}}</span>
                                {%endif%}                               
                                 {%if label2 != ''%}
                                    <span class="label label-primary img-labels">{{label2}}</span>
                                {%endif%}
                            </div>
                        </p>
                        <div class="btn-group">
                            <button type="button" id = "{{pic.id}}" class="btn btn-default" name ="like-button">
                                {%if is_liked == 1%}
                                    <span class="glyphicon glyphicon-heart" style="color:hotpink" aria-hidden="true">&nbsp;{{pic.likes}}</span>
                                {%else%}
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"> {{pic.likes}}</span>
                                {%endif%}
                            </button>
                            <button type="button" class="btn btn-default" name="favor-button" id = "{{pic.id}}">
                                {%if is_favored == 1%}
                                    <span class='glyphicon glyphicon-ok' style='color:blue' aria-hidden='true'>&nbsp;favored</span>
                                {%else%}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;favor</span>
                                {%endif%}
                            </button>
                        </div>   
                    </div>
                </div>
            </div>
        {%else%}
            {%if num == 1%}
            <div class="col-md-4 box">
                <div class="thumbnail">
                    <img src="/media/{{pic.image}}" alt="/media/{{pic.image}}" class="content-img">
                    <div class="caption"  style="text-align:center;">
                        <p>
                            <div class="labels-in-caption">
                                {%if label0 != ''%}
                                    <span class="label label-primary img-labels">{{label0}}</span>
                                {%endif%}                                
                                {%if label1 != ''%}
                                    <span class="label label-primary img-labels">{{label1}}</span>
                                {%endif%}                               
                                 {%if label2 != ''%}
                                    <span class="label label-primary img-labels">{{label2}}</span>
                                {%endif%}
                            </div>
                        </p>
                        <div class="btn-group">
                            <button type="button" id = "{{pic.id}}" class="btn btn-default" name ="like-button">
                                {%if is_liked == 1%}
                                    <span class="glyphicon glyphicon-heart" style="color:hotpink" aria-hidden="true">&nbsp;{{pic.likes}}</span>
                                {%else%}
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"> {{pic.likes}}</span>
                                {%endif%}
                            </button>
                            <button type="button" class="btn btn-default" name="favor-button" id = "{{pic.id}}">
                                {%if is_favored == 1%}
                                    <span class='glyphicon glyphicon-ok' style='color:blue' aria-hidden='true'>&nbsp;favored</span>
                                {%else%}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;favor</span>
                                {%endif%}
                            </button>
                        </div>   
                    </div>
                </div>
            </div>
            {%else%}
            <div class="col-md-4 box">
                <div class="thumbnail">
                    <img src="/media/{{pic.image}}" alt="/media/{{pic.image}}" class="content-img">
                    <div class="caption"  style="text-align:center;">
                        <p>
                            <div class="labels-in-caption">
                                {%if label0 != ''%}
                                    <span class="label label-primary img-labels">{{label0}}</span>
                                {%endif%}                                
                                {%if label1 != ''%}
                                    <span class="label label-primary img-labels">{{label1}}</span>
                                {%endif%}                               
                                 {%if label2 != ''%}
                                    <span class="label label-primary img-labels">{{label2}}</span>
                                {%endif%}
                            </div>
                        </p>
                        <div class="btn-group">
                            <button type="button" id = "{{pic.id}}" class="btn btn-default" name ="like-button">
                                {%if is_liked == 1%}
                                    <span class="glyphicon glyphicon-heart" style="color:hotpink" aria-hidden="true">&nbsp;{{pic.likes}}</span>
                                {%else%}
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"> {{pic.likes}}</span>
                                {%endif%}
                            </button>
                            <button type="button" class="btn btn-default" name="favor-button" id = "{{pic.id}}">
                                {%if is_favored == 1%}
                                    <span class='glyphicon glyphicon-ok' style='color:blue' aria-hidden='true'>&nbsp;favored</span>
                                {%else%}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true">&nbsp;favor</span>
                                {%endif%}
                            </button>
                        </div>   
                    </div>
                </div>
            </div>
            </div>
            {%endif%}
        {%endif%}
    {% endfor %}
</div>
</div>
{% include 'popup_for_index.html' %}

<script type="text/javascript" src="{% static 'profile/popup_for_index.js' %}" ></script>
<script type="text/javascript" src="{% static 'like/like.js' %}" ></script>
<script type="text/javascript" src="{%static 'base/imagesloaded.pkgd.min.js'%}"></script>
<script type="text/javascript" src="{%static 'base/masonry.pkgd.min.js'%}"></script>


<script>
$('#masonry').imagesLoaded(function() {
$('#masonry').masonry({
itemSelector: '.box',
});
});
</script>
<script>
$('#masonry2').imagesLoaded(function() {
$('#masonry2').masonry({
itemSelector: '.box',
});
});
</script>
{% endblock %}
